fastapi
uvicorn
yt-dlp
moviepy
openai-whisper
openai
python-dotenv
gTTS
python-multipart
aiofiles
imageio-ffmpeg
pysrt
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
